@media screen and (min-width: 768px) and (max-width: 998px){

    div > h1{
        font-size: 1.6em;
    }

    section{
        width: 400px;
        height: 490px;
    }

    #n{
        width: 300px;
    }

    #seleTab{
        width: 300px;
        margin-left: 30px;
    }
    
    #botao{
        margin-top: 15px;
        padding: 7px;
        width: 250px;
    }

    #limpar{
        width: 250px;
        margin-left: 55px;
    }

    footer{
        margin-top: 300px;
    }
}

@media screen and (min-width: 998px) {

    div > h1{
        font-size: 1.7em;
    }

    section{
        width: 400px;
        height: 490px;
    }

    #n{
        width: 300px;
    }

    #seleTab{
        width: 300px;
        margin-left: 30px;
    }

    #botao{
        margin-top: 15px;
        padding: 7px;
        width: 250px;
        font-size: 0.7em;
    }

    #limpar{
        width: 250px;
        margin-left: 55px;
    }

    footer{
        margin-top: 300px;
    }
}