*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #59709c;
    font: normal 14pt arial;
}

div > h1 {
    text-align: center;
    font-size: 1.4em;
    color: white;
    margin: 100px;
    margin-bottom: 50px;
}

p{
    font-size: 1.1em;
    text-align: center;
}

section{
    color: #ffffff;
    background: #414c64;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    height: 500px;
    margin: auto;
    box-shadow: 2px 3px 4px rgba(15, 15, 15, 0.548);
}

#n{
    padding: 6px;
    margin-top: 20px;
    width: 250px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.301);
}

#botao{
    background-color: rgba(103, 223, 103, 0.795);
    color: #ffffff;
    padding: 7px;
    margin-top: 15px;
    width: 200px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.301);
    cursor: pointer;
}

#botao:hover{
    background-color: rgba(0, 128, 0, 0.836);
    color: #ffffff;
}

#limpar{
    background-color: rgba(103, 223, 103, 0.795);
    color: #ffffff;
    padding: 7px;
    margin-top: 10px;
    margin-left: 30px;
    width: 200px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.301);
    cursor: pointer;
}

#limpar:hover{
    background-color: rgba(0, 128, 0, 0.836);
    color: #ffffff;
}


#seleTab{
    background-color: #ffffff;
    color: black;
    margin-top: 20px;
    text-align: center;
    width: 260px; 
    height: 250px;
    padding: 9px;
    border-radius: 5px;
}

footer {
    text-align: center;
    margin-top: 300px;
    color:white;
    font-style: italic;
}